* {
  box-sizing: border-box;
}

html {
  font: 150%/1.4 -system-ui, sans-serif;
}

#box {
  display: flex;
  gap: 1em;
}

#box div {
  font-size: 3em;
  width: 2.5ch;
  background-color: orange;
  text-align: center;
  /* margin-right: 0.5em; */
  box-shadow: 0 0em 0.2em #0003;
  text-transform: uppercase;
}
